<div *ngIf="coachdata != null">
    <toolbarmasterdata [Title]="toolbarTitle" [IsList]="toolbarIsList"></toolbarmasterdata>

    <mat-card class="border-primary">
        <mat-card-content>
            <div class="avior-blue">
                <div class="row avior-row-input">
                    <div class="col-md-3">
                        Naam
                    </div>
                    <div>
                        {{ coachdata.Name }}
                    </div>
                </div>
                <div class="row avior-row-input">
                    <div class="col-md-3">
                        Email
                    </div>
                    <div>
                        {{ coachdata.Email }}
                    </div>
                </div>
                <div class="row avior-row-input">
                    <div class="col-md-3">
                        Telefoon
                    </div>
                    <div>
                        {{ coachdata.PhoneNumber }}
                    </div>
                </div>
                <div *ngIf="coachdata.Team != null" class="row avior-row-input">
                    <div class="col-md-3">
                        Team
                    </div>
                    <div>
                        {{ coachdata.Team.Name }} ({{ getSeason(coachdata.Team.Season) }})
                    </div>
                </div>
                <div class="row avior-row-input">
                    <button mat-raised-button class="btn btn-primary" (click)="onDelete()">VERWIJDEREN</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br />
</div>