<toolbarmasterdata [Master]="toolbarMaster" [Title]="toolbarTitle" [IsCreate]="toolbarIsCreate"></toolbarmasterdata>

<table class="table no-border table-condensed">
    <thead>
        <tr>
            <th>Coach</th>
            <th>Telefoon</th>
            <th>Email adres</th>
            <th>Team</th>
            <th>Seizoen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coach of coachData">
            <td>{{ coach.Name }}</td>
            <td>{{ coach.PhoneNumber }}</td>
            <td>{{ coach.Email }}</td>
            <td>{{ coach.Team.Name }}</td>
            <td>{{ getSeason(coach.Team.Season) }}</td>
            <td>
                <a routerLink='/coachedit/{{coach.Id}}' class="btn btn-outline-primary btn-link btn-sm" data-toggle="tooltip" title="Wijzigen">
                    <span class="fa fa-edit" aria-hidden="true"></span>
                </a>
                <a routerLink='/coachdetails/{{coach.Id}}' class="btn btn-outline-primary btn-link btn-sm" data-toggle="tooltip" title="Details">
                    <span class="fa fa-list-alt" aria-hidden="true"></span>
                </a>
                <a routerLink='/coachdelete/{{coach.Id}}' class="btn btn-outline-primary btn-link btn-sm" data-toggle="tooltip" title="Verwijderen">
                    <span class="fa fa-trash-o" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
