<nav class="navbar navbar-xs navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMasterData" aria-controls="navbarMasterData" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMasterData">
        <div class="avior-toolbar-title avior-blue navbar-brand">{{Title}}</div>
        <ul class="navbar-nav mr-auto">
            <li *ngIf="IsList" class="nav-item"><a routerLink='/{{Master}}list' class="nav-link"><i class="fa fa-list"></i> Overzicht</a></li>
            <li *ngIf="IsCreate" class="nav-item"><a routerLink="/{{Master}}add" class="nav-link"><i class="fa fa-plus-circle"></i> Nieuw</a></li>
            <li *ngIf="IsEdit" class="nav-item"><a routerLink='/{{Master}}edit/{{Id}}' class="nav-link"><i class="fa fa-edit"></i> Wijzigen</a></li>
        </ul>
    </div>
</nav>